@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    src: url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    letter-spacing: normal;

    background-color: #ffffff;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 19px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    font-weight: 800;
    vertical-align: middle;
    text-transform: uppercase;

    background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
    
    border: none;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(#f0c52e, #f0c52e);
    
    outline: 0;
}

.button:active {
    background-image: linear-gradient(#f0c52e, #f0c52e);
    color: rgba(0, 0, 0, 0.3);
    
    outline: 0;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    margin-top: 40px;
    color: #000000;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    
    min-height: 299px;
    padding: 0;
    
    background-color: rgba(240, 197, 46, 0.5);
}

.inner-page .header-wrapper {
    min-height: 186px;
    margin-bottom: 38px;
}

.main-header a {
    color: rgba(0, 0, 0, 1);
}

.list-product-type,
.site-navigation {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.transparency-header a:hover,
.transparency-header a:focus {
    color: rgba(0, 0, 0, 0.6) ;
}

.transparency-header a:active {
    color: rgba(0, 0, 0, 0.3) ;
}

.transparency-header .link-exit,
.transparency-header .link-exit:hover,
.transparency-header .link-exit:focus {
    color: rgba(0, 0, 0, 0.3);
}

.transparency-logo:hover img,
.transparency-logo:focus img {
    opacity: 0.6;
}

.transparency-logo:active img {
    opacity: 0.3;
}

.main-header-logo img {
    width: 164px;
    height: 36px;
    
    margin: 0;
    margin-top: -18px;
    margin-bottom: 18px;
    padding: 0;
    padding-left: 60px;
}

.header-user {
    display: flex;
    justify-content: space-around;
}

.search {
    position: relative;
    width: 400px;
    margin: 0;
    padding-left: 40px;
}

.search::before {
    content: "";

    position: absolute;
    left: 10px;
    top: 7px;
    
    width: 16px;
    height: 16px;
    
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    
    width: 505px;
    margin: 0px;
    margin-bottom: 35px;
    padding: 0;
    
    list-style: none;
}

.user-navigation .login-link {
    position: relative;
    margin-right: auto;
    padding-left: 25px;
}

.login-link::before {
    content: "";

    position: absolute;
    left: 0px; 
    top: 8px;
    
    width: 13px;
    height: 12px;
    
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
    opacity: 0.6;
}

.login-link:active::before {
    opacity: 0.3;
}

.inner-page .enter {
    display: none;
}

.user-link {
    display: flex;

    margin: 0;
    padding: 0;
    
    list-style: none;
}

.user-navigation .exit {
    margin-left: 20px;
}

.user-navigation .user-compare {
    position: relative;
    
    padding-right: 40px;
    padding-left: 20px;
}

.user-compare::before {
    content: "";

    position: absolute;
    left: 0px; 
    top: 10px;
    
    width: 10px;
    height: 10px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-compare:hover::before,
.user-compare:focus::before {
    opacity: 0.6;
}

.user-compare:active::before {
    opacity: 0.3;
}

.user-navigation .user-cart {
    position: relative;
    
    padding-left: 23px;
}

.user-cart::before {
    content: "";

    position: absolute;
    left: 0px; 
    top: 8px;
    
    width: 12px;
    height: 12px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-cart:hover::before,
.user-cart:focus::before {
    opacity: 0.6;
}

.user-cart:active::before {
    opacity: 0.3;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
    
    list-style: none;
}

.catalog-navigation {
    width: 420px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-type-button{
    position: absolute;

    width: 16px;
    height: 16px;
    
    font-size: 0;
    
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
}

.product-type-button::before,
.product-type-button::after {
    content: "";

    position: absolute;
    top: 13px;
    left: 10px;

    width: 16px;
    height: 2px;

    background-color: rgba(0, 0, 0, 0.3);
}

.product-type-button::before {
    transform: rotate(90deg);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 500px;
    
    margin: 0;
    padding: 0;
    padding-top: 5px;
    
    list-style: none;
}

.site-navigation li {
    margin-left: 35px;
}

.site-navigation li:first-child {
    margin: 0;
}

.site-navigation li:nth-last-child(2) {
    margin-right: auto;
}

/* Изменения цвета placeholder
    input:placeholder-shown {} не сработал
*/
.site-search::-webkit-input-placeholder { /*Chrome/Opera/Safari*/
    color: rgba(0, 0, 0, 0.3);
}

.site-search:-moz-placeholder { /*Firefox 18-*/
    color: rgba(0, 0, 0, 0.3);
}

.site-search::-moz-placeholder { /*Firefox 19+*/
    color: rgba(0, 0, 0, 0.3);
}

.site-search:-ms-input-placeholder { /*IE 10+*/
    color: rgba(0, 0, 0, 0.3);
}

.site-search:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search:hover :-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search:hover :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 1);
}

.site-search:focus :-moz-placeholder {
    color: rgba(0, 0, 0, 1);
}

.site-search:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 1);
}

.site-search:focus :-ms-input-placeholder {
    color: rgba(0, 0, 0, 1);
}

.company-info {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 90px;
    justify-content: space-between;
}

.company-info h2 {
    position: relative;
    
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 48px;
    letter-spacing: 0.5px;
    font-weight: 800;
    color: #000000;
    line-height: 48px;
    
    margin: 0px;
    margin-top: 52px;
    margin-bottom: 42px;
}

.company-info h2::before {
    content: "";

    position: absolute;
    top: -52px;
    left: 0px;

    width: 80px;
    height: 7px;

    background-color: rgba(0, 0, 0, 1);
}

.company-info p {
    margin: 0;
    margin-bottom: 33px;
}

.about-us {
    width: 475px;
}

.about-us ul {
    list-style: circle;
    
    margin: 0;
    margin-left: 20px;
    margin-top: 63px;
    margin-bottom: 63px;

    padding: 0;
}

.about-us li {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.3);
    
    padding-left: 20px; /* Отступ от маркера до текста */
}

.about-us span {
    color: #000000;
}

.contacts {
    width: 560px;
}

.map img {
    width: 560; 
    height: 222;
    
    margin: 0;
    margin-top: 5px;
    margin-bottom: 69px;
}

.company-info .button {
    display: block;
    
    width: 260px;
    
    margin: 0;
    padding: 0;
}

.page-title {
    margin: 0;
    margin-left: 60px;
    margin-bottom: 22px;
    padding: 0;
  
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 48px;
    letter-spacing: 0.47px;
    font-weight: 800;
    color: #000000;
    line-height: 48px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    margin: 0;
    margin-left: 60px;
    margin-bottom: 47px;
    padding: 0;
    
    list-style: none; 
}

.breadcrumbs li {
    position: relative;

    margin-right: 35px;
}

.breadcrumbs li::before,
.breadcrumbs li::after {
    content: "";

    position: absolute;

    right: -15px;
    
    width: 5px;
    height: 1px;

  background-color: #000000;
}

.breadcrumbs li::before {
    transform: rotate(45deg);
    
    top: 12px;

}

.breadcrumbs li::after {
    transform: rotate(-45deg);
    
    top: 15px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs-current::before,
.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs,
.breadcrumbs a {
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
    display: flex;
    
    margin: 0;
    padding: 0;
}

.catalog-columns h2 {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    font-weight: 800;
    text-align: left;
    color: #000000;
    line-height: 24px;
    text-transform: uppercase;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    width: calc(50% - 250px);
    
    background-color: rgba(229, 229, 229, 0.6);
}

.catalog-wrapper {
    width: 830px;
    
    margin: 0;
    margin-right: 20px;
    padding: 0;
    
    list-style: none;
}

.filter-title {
    margin: 0;
    margin-bottom: 81px;
    padding: 23px 0;
    padding-right: 180px;
}

.filter {
    width: 330px;
    
    margin: 0;
    padding: 0;
    padding-left: 60px;
    
    box-sizing: border-box;
}

.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 36px;
}

.filter-color li:last-child {
    padding-bottom: 7px;
}

.filter legend {
    position: relative;
    
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    
    margin: 0;
    padding: 0;
    padding-bottom: 19px;
}

.price-range {
    margin: 0;
    padding: 0;
}

.price-min,
.price-max {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.2);
    
    margin: 0;
    padding: 0;
}

.filter input[type='range'] {
    overflow: hidden;
    width: 196px;
    height: 2px;
    background-color: #91c92f;
}

.filter legend::before {
    content: "";

    position: absolute;
    
    top: -12px;

    width: 201px;
    height: 2px;

    background-color: #000000;
}

.filter ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

.filter-option {
    margin: 0;
    padding: 0;
}

.filter-option label {
    position: relative;
    display: block;
    
    padding-left: 38px;

    cursor: pointer;
    
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 1);
}

.color-checkbox input[type="checkbox"] + .checkbox-indicator  {
    content: "";
    position: absolute;

    left: 0px;
    top: 7px;
    
    width: 23px;
    height: 23px;
    
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator  {
    content: "";
    position: absolute;

    left: 0px;
    top: 7px;
    
    width: 23px;
    height: 23px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;

    left: 0px;
    top: 6px;
    
    width: 17px;
    height: 17px;

    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;

    left: 9px;
    top: 14px;
    
    width: 8px;
    height: 8px;

    background:#000000;
    border-radius: 50%;
}

.filter-input:hover,
.filter-input:focus {
    opacity: 0.6;
}

.filter-input:disabled + label {
    opacity: 0.25;
}

.filter button {
    width: 200px;
}

.sort {
    display: flex;
    flex-direction: flex-start;

    margin: 0;
    margin-bottom: 70px;
    padding: 20px 0;
    
    background-color: rgba(229, 229, 229, 0.6);
}

.sort-title {
    margin: 0;
    margin-left: 72px;
    margin-right: 55px;
    padding: 3px 0;
}

.sort-type {
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.sort-type a {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-wrapper .sort-type-current {
    color: rgba(0, 0, 0, 1);;
}

.sort-type li:last-child {
    margin-right: 0px;
}

.sort-form fieldset {
    margin: 0;
    padding: 0;
    
    border: none;
}

.sort-form {
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.sort-order {
    display: flex;
    align-items: center;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.item {
    margin-left: 38px;
    margin-bottom: 44px;
}

.item:last-child {
    margin-bottom: 35px;
}

.item img {
    width: 360px;
    height: 380px;
    
    margin-bottom: 23px;
}

.item p {
    margin: 0;
    padding: 0;
}

.item-title {
    display: flex;
    align-items: flex-start;
}

.item-title a {
    width: 280px;
    
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 800;
    color: #000000;
    text-align: left;
}

.item-title span {
    width: 80px;
    
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
}

.pagination {
    display: flex;
    justify-content: space-between;
    
    width: 760px;
    
    margin-left: 72px;
    margin-bottom: 74px;
    padding: 25px 0;
    
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: (0, 0, 0, 1);
    
    background-color: rgba(229, 229, 229, 0.6);
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.pagination-item:not(.pagination-item-current) a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
    margin-right: 27px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination span {
    width: 130px;
    text-align: center;
}

.main-footer {
    background: #464646;
    color: #ffffff;
}

.main-footer a {
    color: #ffffff;;
}

.main-footer .container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    
    margin: 0;
    margin-top: 65px;
    padding: 0;
}

.change-color {
    fill: #ffc600;
}

.main-footer-logo {
    margin: 0;
    padding: 0;
}

.footer-top .user-navigation {
    justify-content: flex-end;
}

.footer-top .login-link {
    margin: 0;
    padding-right: 40px;
}

.footer-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-bottom: 63px;
    
    list-style: none;
}

.footer-middle .site-navigation {
    justify-content: center;
}

.footer-middle li:nth-last-child(2) {
    margin-right: 0;
}

.footer-address {
    margin: 0;
    padding: 0;
}

.phone-number {
    margin: 0;
    padding: 0;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    
    margin: 0;
    margin-bottom: 63px;
    padding: 0;
    
    list-style: none;
}

.footer-social {
    display: flex;
    justify-content: center;
    
    width: 1015px;
    
    margin: 0;
    padding: 0;
}

.footer-bottom::before {
    content: "";
    
    position: relative;
    left: 0px;
    top:  13px;
    
    width: 80px;
    height: 7px;
    
    background-color: #ffc600;
}

.social-button {
    margin: 0;
    padding-right: 25px;
}

.button-logo {
    padding-left: 35px;
}

.transparency-social {
    list-style: none;
}

.transparency-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.transparency-user-navigation a:hover,
.transparency-user-navigation a:focus {
    color: rgba(255, 255, 255, 1);
} 

.transparency-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}
.transparency-user-navigation .link-exit,
.transparency-user-navigation .link-exit:hover,
.transparency-user-navigation .link-exit:focus {
    color: rgba(255, 255, 255, 0.3);
}

.transparency-user-navigation .user-name {
    color: rgba(255, 255, 255, 0.7);
}

.transparency-social a {
    opacity: 0.3;
}

.transparency-social a:hover,
.transparency-social a:focus {
    opacity: 0.6;
}

.transparency-social a:active {
    opacity: 0.1;
}

.transparency-footer a:hover,
.transparency-footer a:focus {
    color: rgba(255, 255,255, 0.6) ;
}

.transparency-footer a:active {
    color: rgba(255, 255, 255, 0.3) ;
}

/* Всплывающая форма */

.modal {
    position: fixed;
    color: rgba(0, 0, 0, 1);

    background-color: rgba(255, 255, 255, 1);/*#e5e5e5;*/
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-feedback {
    top: 50%;
    left: 50%;
    
    display: none;

    width: 760px;
    margin-left: -480px;
    margin-top: -277px;
    padding: 93px 100px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    
    width: 55px;
    height: 55px;
    
    border-radius: 50%;
    font-size: 0;

    background-color: rgba(240, 197, 46, 0.5);
    border: 0;

    cursor: pointer;
    outline: 0;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 12px;

    width: 32px;
    height: 2px;

    background-color: rgba(255, 255, 255, 1);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
    background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
    background-color: rgba(240, 197, 46, 0.3);
}

.madal-container {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 33px;
}

.feedback {
    font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
}

.feedback-form input,
.feedback-form textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 20px;
    
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(70, 70, 70, 0.4);
    text-align: left;
    
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.madal-container div {
    width: 360px;
}

.feedback-form textarea {
    width: 760px;
    
    margin-bottom: 50px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 197, 46, 0.5);
    
    outline: 0;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
    background-color: rgba(237, 181, 181, 0.5);
    
    outline: 0;
}

.modal-map {
    top: 50%;
    left: 50%;
    
    display: none;

    width: 960px;
    height: 559px;
    margin-top: -300px;
    margin-left: -480px;
}

.modal-map p {
    margin: 0;
}